---
import { BlogDate } from '../utils/BlogDate'

const { post } = Astro.props
const pubDate = BlogDate.fromDateString(post.frontmatter.pubDate).toDateString()
---

<div>
	<h2 class="text-xl text-neutral-800"><a href={post.url}>{post.frontmatter.title}</a></h2>
	<time datetime={post.frontmatter.pubDate} class="text-xs">
		{pubDate}
	</time>
	<p class="text-sm text-neutral-500 mt-4">{post.frontmatter.description}</p>
</div>
<style>
	div {
		padding-bottom: 1em;
		max-width: 60ch;
	}
</style>
