---
import type { Post } from '../types/Post.js'
import { BlogDate } from '../utils/BlogDate.js'

const { post }: { post: Post } = Astro.props as any
const pubDate = BlogDate.fromDateString(post.pubDate).toDateString()
---

<div>
	<h2 class="text-xl text-neutral-800"><a href={post.url}>{post.title}</a></h2>
	<time datetime={post.pubDate} class="text-xs">
		{pubDate}
	</time>
	<p class="text-sm text-neutral-500 mt-4">
		<Fragment set:html={post.description} />
	</p>
</div>
<style>
	div {
		padding-bottom: 1em;
		max-width: 60ch;
	}
</style>
