---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { BlogDate } from '../utils/BlogDate.js'

export interface Props {
	content: {
		title: string
		description: string
		pubDate?: string
		updatedDate?: string
		heroImage?: string
	}
}

let { title, description, pubDate, updatedDate, heroImage } = Astro.props.content

const formattedPubDate = pubDate ? BlogDate.fromDateString(pubDate).toDateString() : ''
const formattedUpdatedDate = updatedDate ? BlogDate.fromDateString(updatedDate).toDateString() : ''
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
	</head>

	<body>
		<Header />
		<main class="mb-8">
			<article>
				{heroImage && <img max-width="100%" max-height="360px" src={heroImage} alt="" class="mb-4" />}
				<h1 class="text-3xl leading-tight mb-4 text-neutral-800">{title}</h1>
				<div class="text-sm mt-2">
					{pubDate && <time datetime={pubDate}>{formattedPubDate}</time>}
					{pubDate && updatedDate && '/'}
					{
						updatedDate && (
							<span>
								Last updated on <time datetime={updatedDate}>{formattedUpdatedDate}</time>
							</span>
						)
					}
				</div>
				<hr class="border-t-border my-4" />
				<div class="prose max-w-none prose-neutral mt-8">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
